@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body {
    /* padding: 10px; */
    font-family: 'Poppins', sans-serif;
    min-width: 400px;
}
.container{
    margin: 0 auto;
    width: 1100px;
    max-width: 90%;
}
.row{
    display: flex;
    justify-content: space-between;
}
input {
    margin-top: 10px;
    border: 2px solid #5f9341;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    border-radius: 5px;
    border: 1px solid #5f9341;
    padding: 10px 20px;
    color: white;
    background-color: #5f9341;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

#delete-btn {
    color: #5f9341;
    background-color: white;
}
#input-btn:hover,#tab-btn:hover{
    background-color: rgb(84, 84, 189);
}
#delete-btn:hover{
    background-color: #BA0001;
    color: white;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    display:inline-block !important;
    width:100%;
}
a:hover{
    color: rgb(84, 84, 189)  
}
li:hover{ 
    font-weight: bolder;
}
a,b {
    text-decoration: none;
    color: #5f9341;
    pointer-events: all;
}

.fa-trash{
    display: none !important;
    font-size:10px;
    cursor: pointer;
    color:red;
    float: right
}
li:hover .fa-trash{
    display:block  !important;
}